<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% stylesheets '%kernel.root_dir%/Resources/components/bootstrap/less/bootstrap.less'
            filter="less"
            output="/css/css.css" %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="span9">
                    {% block body %}{% endblock %}
                </div>
                <div class="span3">
                    {% block book %}{% endblock %}
                </div>
            </div>
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
